<div class="row">
	<div id="breadcrumb" class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="index.html">Dashboard</a></li>
			<li><a href="#">Gallery</a></li>
			<li><a href="#">Simple Gallery</a></li>
		</ol>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<div class="box-name">
					<i class="fa fa-picture-o"></i>
					<span>Simple Gallery</span>
				</div>
				<div class="box-icons">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a class="expand-link">
						<i class="fa fa-expand"></i>
					</a>
					<a class="close-link">
						<i class="fa fa-times"></i>
					</a>
				</div>
				<div class="no-move"></div>
			</div>
			<div id="simple_gallery" class="box-content">
				<a class="fancybox" rel="gallery1" href="../img/8962691008_7f489395c9_m.jpg" title="Westfield Waterfalls - Middletown CT Lower (Graham_CS)">
					<img src="img/9036958611_fa1bb7f827_m.jpg" alt="" />
				</a>
				<a class="fancybox" rel="gallery1" href="http://farm4.staticflickr.com/3824/9041440555_2175b32078_b.jpg" title="Calm Before The Storm (One Shoe Photography Ltd.)">
					<img src="img/9041440555_2175b32078_m.jpg" alt="" />
				</a>
				<a class="fancybox" rel="gallery1" href="http://farm3.staticflickr.com/2870/8985207189_01ea27882d_b.jpg" title="Lambs Valley (JMImagesonline.com)">
					<img src="img/8985207189_01ea27882d_m.jpg" alt="" />
				</a>
				<a class="fancybox" rel="gallery1" href="http://farm4.staticflickr.com/3677/8962691008_7f489395c9_b.jpg" title="Grasmere Lake (Phil 'the link' Whittaker (gizto29))">
					<img src="img/8962691008_7f489395c9_m.jpg" alt="" />
				</a>
				<a class="fancybox" rel="gallery1" href="http://farm6.staticflickr.com/5471/9036958611_fa1bb7f827_b.jpg" title="Westfield Waterfalls - Middletown CT Lower (Graham_CS)">
					<img src="img/9036958611_fa1bb7f827_m.jpg" alt="" />
				</a>
				<a class="fancybox" rel="gallery1" href="http://farm4.staticflickr.com/3824/9041440555_2175b32078_b.jpg" title="Calm Before The Storm (One Shoe Photography Ltd.)">
					<img src="img/9041440555_2175b32078_m.jpg" alt="" />
				</a>
				<a class="fancybox" rel="gallery1" href="http://farm3.staticflickr.com/2870/8985207189_01ea27882d_b.jpg" title="Lambs Valley (JMImagesonline.com)">
					<img src="img/8985207189_01ea27882d_m.jpg" alt="" />
				</a>
				<a class="fancybox" rel="gallery1" href="http://farm4.staticflickr.com/3677/8962691008_7f489395c9_b.jpg" title="Grasmere Lake (Phil 'the link' Whittaker (gizto29))">
					<img src="img/8962691008_7f489395c9_m.jpg" alt="" />
				</a>
				<a class="fancybox" rel="gallery1" href="http://farm6.staticflickr.com/5471/9036958611_fa1bb7f827_b.jpg" title="Westfield Waterfalls - Middletown CT Lower (Graham_CS)">
					<img src="img/9036958611_fa1bb7f827_m.jpg" alt="" />
				</a>
				<a class="fancybox" rel="gallery1" href="http://farm4.staticflickr.com/3824/9041440555_2175b32078_b.jpg" title="Calm Before The Storm (One Shoe Photography Ltd.)">
					<img src="img/9041440555_2175b32078_m.jpg" alt="" />
				</a>
				<a class="fancybox" rel="gallery1" href="http://farm3.staticflickr.com/2870/8985207189_01ea27882d_b.jpg" title="Lambs Valley (JMImagesonline.com)">
					<img src="img/8985207189_01ea27882d_m.jpg" alt="" />
				</a>
				<a class="fancybox" rel="gallery1" href="http://farm4.staticflickr.com/3677/8962691008_7f489395c9_b.jpg" title="Grasmere Lake (Phil 'the link' Whittaker (gizto29))">
					<img src="img/8962691008_7f489395c9_m.jpg" alt="" />
				</a>
				<a class="fancybox" rel="gallery1" href="http://farm6.staticflickr.com/5471/9036958611_fa1bb7f827_b.jpg" title="Westfield Waterfalls - Middletown CT Lower (Graham_CS)">
					<img src="img/9036958611_fa1bb7f827_m.jpg" alt="" />
				</a>
				<a class="fancybox" rel="gallery1" href="http://farm4.staticflickr.com/3824/9041440555_2175b32078_b.jpg" title="Calm Before The Storm (One Shoe Photography Ltd.)">
					<img src="img/9041440555_2175b32078_m.jpg" alt="" />
				</a>
				<a class="fancybox" rel="gallery1" href="http://farm3.staticflickr.com/2870/8985207189_01ea27882d_b.jpg" title="Lambs Valley (JMImagesonline.com)">
					<img src="img/8985207189_01ea27882d_m.jpg" alt="" />
				</a>
				<a class="fancybox" rel="gallery1" href="http://farm4.staticflickr.com/3677/8962691008_7f489395c9_b.jpg" title="Grasmere Lake (Phil 'the link' Whittaker (gizto29))">
					<img src="img/8962691008_7f489395c9_m.jpg" alt="" />
				</a>
			</div>
		</div>
	</div>
</div>
<script>
// Create fancybox2 gallery
function DemoGallery(){
	$('.fancybox').fancybox({
		openEffect	: 'none',
		closeEffect	: 'none'
	});
}
$(document).ready(function() {
	// Load Fancybox2 and make gallery in callback
	LoadFancyboxScript(DemoGallery);
});
</script>
