<div id="page-login" class="row">
	<div class="col-sm-5 col-sm-offset-3">
		<div class="box">
			<div class="box-header">
				<div class="box-name">
					<span>&nbsp; MPSoft&trade; | Login</span>
				</div>
			</div>
			
			<div class="box-content">
				
				<form id="defaultForm" method="post" action="validators.html"
					class="form-horizontal">
					<fieldset>
							<p class="bg-danger">Message danger</p>
						<div class="form-group">
							<label class="col-sm-3 control-label">Username</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="username" />
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-3 control-label">Password</label>
							<div class="col-sm-8">
								<input type="password" class="form-control" name="password" />
							</div>
						</div>
					</fieldset>

					<div class="form-group">
						<div class="col-sm-3 col-sm-offset-8">
							<button type="submit" class="btn btn-primary btn-block"><i class="fa fa-sign-in"></i> Submit</button>
						</div>
					</div>
					
				</form>
				
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	// Run Select2 plugin on elements
	function DemoSelect2() {
		$('#s2_with_tag').select2({
			placeholder : "Select OS"
		});
		$('#s2_country').select2();
	}
	// Run timepicker
	function DemoTimePicker() {
		$('#input_time').timepicker({
			setDate : new Date()
		});
	}
	$(document).ready(function() {
		// Create Wysiwig editor for textare
		TinyMCEStart('#wysiwig_simple', null);
		TinyMCEStart('#wysiwig_full', 'extreme');
		// Add slider for change test input length
		FormLayoutExampleInputLength($(".slider-style"));
		// Initialize datepicker
		$('#input_date').datepicker({
			setDate : new Date()
		});
		// Load Timepicker plugin
		LoadTimePickerScript(DemoTimePicker);
		// Add tooltip to form-controls
		$('.form-control').tooltip();
		LoadSelect2Script(DemoSelect2);
		// Load example of form validation
		LoadBootstrapValidatorScript(DemoFormValidator);
		// Add drag-n-drop feature to boxes
		WinMove();
	});
</script>
